*{
    margin: 0;
    padding:0;
}

body{
    padding: 10px;
    background:#363391;
    
}

h1{
    text-align:center;
}

.contenedor-grid{
    display: grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns: repeat(1,1fr);
    background:#4340B7;
    border-radius: 20px;
    border: 3px solid #000;
}

.item-grid-1{
    background:#6360C9;
    
    border: 1px solid #000;
    
}
.item-grid-1 .flex{
    display: flex;
    justify-content:center;
}
.flex-2{
    display: flex;
    flex-direction:column;
    justify-content:center;
    
}

.p1{
    font-size: 40px; 
    
}
.p2{
    color:#fff;
    font-size: 10px; 

}
.p3{
    font-size: 25px;
    color:#fff;
}

.flex img{
    margin: 10px;
    width:100px;
    height:100px;

    object-fit:cover;
}


.item-grid{
    background:#6360C9;
    margin: 15px;
    border: 1px solid #000;
    
}
.item-grid-1{
    background:#6360C9;
    margin: 15px;
    border: 1px solid #000;
    
}



.item-grid-2{
    background:#6360C9;
    margin: 15px;
    border: 1px solid #000;
    
}

.flex{
    display: flex;
}

.flex-2-2{
    margin: auto;
}


.flex-especial{
    background:#6360C9;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    text-align: center;
    

}

.flex-especial p{
    color:#fff;
}

.flex-especial-img img{
    
    height:30px;
    width:30px;

}

.item0{
    margin: auto;
}

.flex-especial:hover{
    background: #7573D0;
    border-radius: 40px;
    
}
.item-grid:hover{
    background: #7573D0;
    border-radius: 40px;
    transition: all 1s;

    
}
.item-grid-2:hover{
    background: #7573D0;
    border-radius: 40px;
    transition: all 1s;
}

@media only screen and (min-width:1100px){
    body{
        padding: 30px;
    }

    

    .contenedor-grid{
        display: grid;
        grid-template-rows:repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
    }

    .item-grid-1{
        
        border: 1px solid #000;
        grid-column: 1/4;
    }
    .item-grid-1 .flex{
        display: flex;
        justify-content:center;
    }
    .flex-2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        
    }

    .p1{
        font-size: 40px; 
        
    }
    .p2{
        font-size: 10px; 

    }
    .p3{
        font-size: 25px;
    }

    .flex img{
        margin: 10px;
        width:100px;
        height:100px;
    
        object-fit:cover;
    }


    .item-grid{
        margin: 15px;
        border: 1px solid #000;
        
    }
    .item-grid-1{
        margin: 15px;
        border: 1px solid #000;
        
    }



    .item-grid-2{
        margin: 15px;
        border: 1px solid #000;
        grid-column: 2/4;
    }

    .flex{
        display: flex;
    }

    .flex-2-2{
        margin: auto;
    }


    .flex-especial{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        text-align: center;
        

    }

    .flex-especial-img img{
        
        height:30px;
        width:30px;

    }

    .item0{
        grid-column: 1/3;
        margin: auto;
    }
}
