

*{
    padding: 0;
    margin: 0;
}


.container{
    background: gray;
    margin: auto;
    height:400px;
    width:800px;
}

.contaniner_inputs{
    display: flex;
    flex-direction: column;
   
    
    background: red;
    width:50%;
    height:400px;
}

.input{
    
    margin:20px;
    height:40px;
    width:90%;
}