

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:red;
    margin:50px 30px;

}


.form{
    min-width: 400px;
    flex-grow: 1;
    text-align: center;
    background:yellow;
    padding:30px;
}



.img{
    margin-left: 10px;
    flex-grow: 1;
}

.input{
    width: 100%;
    padding:7px;
    margin: 10px 0;
}