*{
    padding: 0;
    margin: 0;
}


hr{
    width: 100%;
    text-align: center;
    border: 1px solid gray;
}

.contenedor-general{
    width: 100%;
    height: 100%;
    background:gold;
}

.contenedor-nav{
    display: flex;
    position:fixed;
   
    flex-direction: column;
    width: 250px;
    height: 100%;

}

.contenedor-derecho{
    width:100%;
    position:fixed;
    height: 800px;
    padding-left:250px;
    
    
}

.contenedor-contenido{
    padding-top:80px;
    padding-left: 250px;
    color: black;
    background:#fff;
}

.contenedor-flex{
    display: flex;
    flex-direction: column;
    background:blue;
}

.contenedor__img{
    display: flex;
    justify-content:center;
    background:#fff;
    padding:16.5px;
}

.contenedor__img img{
    height:30px;
    width:30px;
    border-radius: 10px;
   
}

h1{
  
    color:#000;
    margin-top: 20px;
    
}

h2{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color:#000;
    
}
.contenedor_navs{
    display: flex;
    flex-direction: column;
    background: #fff;
}

.contenedor_navs a{
    color:#000;
    margin: auto;
}

a{
    text-decoration: none;
}
.contenedor_navs img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.contenedor_navs div:hover{
    background: #3AAC9D;
    border-radius: 10px;
}

.contenedor_navs div{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
}

.contenedor_navs a:hover{
    color: #fff;
}

.contenedor_overflow{
    background: #fff;
    padding:10px;
    

}
.contenedor_p{
    margin-left: 10px;
    height:100px;
    overflow:auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px;
    
}



.contenedor_p p{
    color: #000;
}

.contenedor_p p:hover{
    background: #000;
    border-radius: 40px;
    text-align: center;
    color: #fff;
    transition: all 1s;
}


/*NAV 2*/

.contendor-nav2{
    display: flex;
    position: sticky;
    justify-content: space-between;
    border-bottom:1px solid #fff ;
    background:red;
    width: 100%;
    height: 10%;
}

.contenedor-nav2__p1{
    width: 30%;
  
    
    
}

.contenedor-nav2__p1 img{
    padding:10px;
    width: 20px;
    height: 10%;
    margin: 20px;
    border-radius: 10px;
    background:#fff;
}

.contenedor-nav2__p1 a{
    margin: auto;
}

.contenedor-nav2__p2{
    width: 40%;
 

}