hr{
    width: 50%;
    text-align: center;

    border: 2px solid gray;
}



.contenedor{
    background:#000;
    height:1200px;
    width: 250px;
    
}


.contenedor__img{
    display: flex;
    justify-content:space-around;
    background:black;
    padding:20px;
}

.contenedor__img img{
    height:50px;
    width:50px;
    border-radius: 30px;
   
}

p{
    color:#fff;
    
}
.contenedor_navs{
    display: flex;
    flex-direction: column;
    background: #fff;
}

.contenedor_navs a{
    color:#000;
    margin: auto;
}

a{
    text-decoration: none;
}

.contenedor_primerasec{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
}

.contenedor_primerasec img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}

.contenedor_segundasec{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
}

.contenedor_segundasec img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}

.contenedor_tercerasec{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
}

.contenedor_tercerasec img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}

.contenedor_cuartasec{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
    
}

.contenedor_cuartasec img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}

.contenedor_quintasec{
    display:flex;   
    margin: 20px;
    margin-bottom: 5px;
}

.contenedor_quintasec img{
    padding-top: 5px;
    height:40px;
    width: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    
}


.contenedor_primerasec:hover{
    background: #3AAC9D;
    border-radius: 10px;
    
}
.contenedor_primerasec:hover>a{
    color: #fff;
    
}

.contenedor_segundasec:hover{
    background: #3AAC9D;
    border-radius: 10px;
    
}
.contenedor_segundasec:hover>a{
    color: #fff;
    
}

.contenedor_tercerasec:hover{
    background: #3AAC9D;
    border-radius: 10px;
    
}
.contenedor_tercerasec:hover>a{
    color: #fff;
    
}

.contenedor_cuartasec:hover{
    background: #3AAC9D;
    border-radius: 10px;
    
}
.contenedor_cuartasec:hover>a{
    color: #fff;
    
}

.contenedor_quintasec:hover{
    background: #3AAC9D;
    border-radius: 10px;
    
}
.contenedor_quintasec:hover>a{
    color: #fff;
    
}

