

:root{
    --colorahover:#FF7B00;
    --letra1:#fff;
    --boton:#E01E37;
    --forms:#FB8500;
    --formshover:#F3722C;
    --input:#FCCA46;
}

*{
    margin: 0;
    padding: 0;
    
}
.img{
    height:40px;
    width:40px;
    margin-right: 10px;
}
ul{
    list-style: none;
}
.a{
    text-decoration: none;
    padding:10px;
}

a:hover{
    background:var(--colorahover);
    border-radius: 5px;
    color:var(--letra1);
}
.contenedor{
    display: grid;
    grid-template-areas: "nav"
    "minibarra "
    "main "
    "footer";
}
.svg-nav{
    background: url("../SVG/wave_arriba.svg") ;
    height:200px;
    background-size:cover;
    background-position:center center;
}
.contenedor-grid-general-1{
    grid-area: nav;
    letter-spacing: 5px;
}


.contenedor-grid-nav{
    display:grid;
    
    grid-template-areas: "izq centro der";
}

.contenedor-grid-nav-izq{
    grid-area: izq;
    
    padding:10px;

}

.contenedor-grid-nav-centro{
    grid-area: centro;
    display: flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:space-evenly;
}

.contenedor-grid-flex-izq{
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    margin-left: 20%;
    
}




.contenedor-grid-nav-der{
    grid-area: der;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-right: 20px;
    margin-left: 20px;
}


#boton:hover{
    background:var(--boton);
    
    border-radius: 5px;
    color:var(--letra1);
}


.contenedor-grid-general-2{
    grid-area: minibarra;
    background: rgba(179, 237, 20, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 5px solid rgba( 255, 255, 255, 0.18 );
    padding:10px;
    letter-spacing: 5px;

}

.contenedor-grid-general-2__h3{
    text-align: center;
    font-size:20px;
    letter-spacing: 5px;
}


.contenedor-grid-main{
    grid-area: main;  
    margin-left: 40px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    

}

.contenedor-grid-general-3{
    grid-column: 1;
    border:2px solid #000;
    letter-spacing: 5px;
    height:320px;
    
}

.contenedor-general-3-contenido{
    height:100%;
    overflow: auto;
    text-align: start;
    
    
}


.contenedor-grid-general-4{
    grid-column: 2;
    background:var(--forms);
    height:320px;
  
}

.contenedor-general-4-form{
    margin: 10px;
    
}

.inputss{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.inputs{
   padding:10px;
   border-radius: 10px;
   margin-top: 20px;
}

.contenedor-grid-general-4:hover{
    background: var(--formshover);
    border-radius: 20px ;
    border: 3px solid #000;
}

input{
    border: none
}

input:focus{
    background:var(--input);
    color: #000;
    border: none;
    outline: none;
    
}











.contenedor-general-3-contenido::-webkit-scrollbar{
    width:10px;
    height:10px;
}

.contenedor-general-3-contenido::-webkit-scrollbar-thumb {
    background:gray;
    border-radius: 6px;
    
}

.contenedor-general-3-contenido::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;

}


.contenedor-general-3-contenido::-webkit-scrollbar-thumb:active {
    background-color: yellow;
}
