
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display:grid;
    grid-template-areas: "parte1"
    "parte2"
    "parte3";
}
.contenedor-1{
    grid-area:parte1;
    border-bottom: 1px solid #000;
    
}

.contenedor-2{
    grid-area:parte2;
}

.contenedor-3{
    grid-area:parte3;
}
.contendor-grid-nav{
    
    display:grid;
    grid-template-areas:"img"
    "navcentral" 
    "boton";
}

.contenedor-grid-nav-img{
    grid-area: img;
    
    
    
}
.nav-img-flex{
    display: flex;
    align-items: flex-end;
}
.nav-img-text{
    color:#03045E;
    font-size: 30px;
}
.nav-img{
    margin-top: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
}

.contenedor-grid-navcentral{
    grid-area: navcentral;
    
    
}

.contenedor-navcentral-flex{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    
}
.nav-a{
    text-decoration: none;
}
.nav-text{
    list-style: none;
    margin-top: 30px;
    color: #000;
}


.boton{
    border: 2px solid #000;
    padding:5px
}


body{
    background: url("../img/doc.jpg") no-repeat;
    background-size:cover;
    background-position:center center;
  

}

.contenedor-texto{
    margin:5%;
    width: 80vw;
}

.contenedor-texto__h1{
    font-size:50px;
    padding: 10px;
}

.contenedor-texto__p{
    font-size:20px;
    padding: 10px;
    color: #000;
}

.boton-color{
    padding: 10px;
    color: #000;
    background: lightblue;
}


.contenedor-abajo0{
    display:grid;
    grid-template-areas: "col1" "col2" "col3";
    padding: 10px;
    margin-top: 30px;
}

.contenedor-abajo_c1{
    grid-area:col1;
    margin: 30px;
    background:linear-gradient(to bottom,transparent,#00B4D8);
}

.contenedor-abajo_c2{
    grid-area:col2;
    margin: 30px;
    background:linear-gradient(to bottom,transparent,#00B4D8);
}

.contenedor-abajo_c3{
    grid-area:col3;
    margin: 30px;
    background:linear-gradient(to bottom,transparent,#00B4D8);
}

.contenedor-flex-abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

p,a{
    letter-spacing: 3px;
}


.nav-a li:hover{
    background-color: #023E8A;
    padding:5px;
    margin-bottom:8px;
    border-radius: 5px;
    color: #fff;
}


@media only screen and  (min-width:800px){
    .contendor-grid-nav{
        display:grid;
        grid-template-areas:"img navcentral navcentral navcentral boton";
    }

    .contenedor-navcentral-flex{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        
        
    }
    .contenedor-abajo0{
        display:grid;
        grid-template-areas: "col1 col2 col3";
        padding: 10px;
        margin-top: 30px;
    }
    .contenedor-texto{
        margin:5%;
        width: 50vw;
    }
}