*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

body{
    display: grid;
    grid-template-areas: "h1" "header" "main" "main2" "main3";
}

.titulo{
    grid-area: h1;
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo h1{
    align-self:end;
    margin-bottom: 5px;
    margin-left: 20px;
}

.titulo img{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    height: 100px;
    width: 100px;
}
header{
    grid-area: header;
    
}

header ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}



a{
    text-decoration: none;
    color: #fff;
}


header li{
    list-style: none;
    padding: 20px;

}

header li:hover{
    background: #293241;
}

nav{
    background: #000;
    
}

.seccion-flex{
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.seccion-flex-2{
    grid-area: main2;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.seccion-flex-3{
    grid-area: main3;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.article-flex{
    height: 520px;
    width: 300px;
    margin: 20px;
    display: grid;
    grid-template-areas: "img" "contenido" "horario";
}

h2{
    margin: 0;
    padding: 0;
}
.article-flex h4{
    margin: 5px;
    
}
.imagen{
    grid-area: img;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}
img{
    align-self: flex-end;
}

.contenido{
    padding: 10px;
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-start;
}

.horarios{
    margin: 10px;
    grid-area: horario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}
table{
    margin: auto;
    background: cornflowerblue;
    width: 90%;
}

th,td{
    padding: 8px;
    text-align: center;
    border: 2px solid #000;
}

img{
    height: 100px;
    width: 50%;
}

hr{
    color: #000;
}

.tabla_arriba{
    margin: 10px;
    grid-area: horario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
}


@media only screen and (min-width:700px){
    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .seccion-flex{
        grid-area: main;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 100px;

    }
    
    .seccion-flex-2{
        grid-area: main2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 100px;

    }

    .seccion-flex-3{
        grid-area: main3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 100px;
    }
}