*{
    margin: 0;
    padding: 0;
}

body{
    background: #7F5539;
}

.contenedor-flex{
    display: flex;
    background: #7F5539;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}



.flex-1,.flex-2,.flex-3{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.flex-4{
    display: flex;
    justify-content: center;
}
.flex-5{
    display: flex;
    justify-content: center;
}

input{
    margin: 20px;
    padding: 15px;
    border: none;
}

h1{
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.btn{
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
}


input:focus{
    border: none;
    margin-left: 20px;
}

.verde{
    background: #7F5539;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.verde p{
    margin: 5px;
}

.red{
    background: #7F5539;
    text-align: center;
    color: #fff;
}

.div-input{
    display: flex;
    overflow: auto;
    background: #B08968;
    
}

.inputs{
    border: 2px solid #000;
    
}

.error_input{
    margin: 30px;
    padding: 10px;
    background: #B08968;
    color: #fff;
    text-align: center;
}

.error_input p{
    margin: 8px;
}

.valido_input {

    margin: 30px;
    padding: 10px;
    background: #B08968;
    color: #fff;
    text-align: center;

}

.valido_input p{
    margin: 8px;

}

.contenedor-boton-calcular{
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.contenedor-boton-calcular button{
    border: none;
    width: 50%;
    margin: auto;
}

.contenedor-boton-calcular button:hover{
    border: none;
    background: #B08968;
    color: #fff;
    border-radius: 10px;
}

.tabla{
    background: green;
    margin: auto;
    margin: 20px;
    padding: 10px;
    border: 2px solid #000;
}